:root {
  --color-primary: #C6E7FF;
  --color-card: #F4FAFF;
  --color-highlight-header: #2294CF;
  --color-default-text: #052204;
  --color-about-bg: #F0EBE3;
  --color-lemon: #F3AB00;

  --font-family-title: 'Onest Variable', sans-serif;
  --font-family-text: 'Montserrat Variable', sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-gutter: 2.5rem;

  --border-width: 1px;
  --border-color: #E1E1E1;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex-grow: 1;
}

header, main > section, footer {
  width: 60rem;
}

.functions {
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-sm);
}

.bubbles {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}
