<style>
  section {
    background-color: var(--color-about-bg);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    padding-bottom: var(--spacing-xl);
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-lg);
  }

  p {
    margin-inline: var(--spacing-xl);
  }

  .quassel {
    color: var(--color-highlight);
  }

  .lemon {
    color: var(--color-lemon);
  }
</style>

<section>
  <h2>About</h2>
  <p>
    As a part of researching social-cognitive development of humans, Prof. Dr. Moritz Daum, Dr. Stephanie Wermelinger and their team at the
    University of Zurich are researching multilingual development in children. To improve the efficiency of gathering the necessary data, they
    needed a tool that could help them with this task.
  </p>
  <p>
    Resulting from this need, the idea of <strong class="quassel">Quassel</strong> was created. Collaborating closely with the University of Zurich,
    openscript Ltd. brought the software to life and is now being used by the name <strong class="lemon">LEMON</strong> in the research project.
  </p>
  <p>
    If you are interested in using the software for your own research project, feel free to reach out to the respective contact people.
    <strong class="quassel">Quassel</strong> itself is an open-source project and can
    <a href="https://github.com/openscript-ch/quassel">be found</a> on GitHub.
  </p>
</section>
