---
import Bubbles from "../components/Bubbles.astro";
import Accordion from "../components/Accordion.astro";
import { mapFeatures } from "../mapper/features-mapper";

const items = await mapFeatures("administration");
---

<style>
  section {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-inline: 20%;
  }

  h2 {
    text-align: center;
    margin: var(--spacing-lg);
  }

  .more-functions {
    margin-inline: var(--spacing-xl);
    margin-bottom: var(--spacing-lg);
    text-align: start;
    color: var(--color-highlight);
  }
</style>

<section>
  <h2>Solution for Administrative Needs</h2>
  <Accordion frame="laptop" imageLeft items={items}>
    <div class="more-functions">
      <p>More functions</p>
      <Bubbles entries={["User management", "Data import", "Historical entires are saved"]} />
    </div>
  </Accordion>
</section>
