---
import Contacts from "../components/Contacts.astro";
---

<style>
  .footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 0;
    margin-inline: 20%;
    margin-bottom: 0;
    padding-bottom: var(--spacing-xl);
  }

  h2 {
    text-align: center;
    margin: var(--spacing-lg) 0;
  }

  .contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
  }

  .contacts-container > :first-child img {
    height: 10rem !important;
  }
</style>

<footer class="footer">
  <h2>Interested in Using Quassel?</h2>
  <div class="contacts-container">
    <Contacts
      link="https://www.psychologie.uzh.ch/de/bereiche/dev/devpsy/Weltentdecker/Forschungsschwerpunkt-Mehrsprachigkeit-und-Kommunikation.html"
      imgSrc="../assets/uzh-logo.svg"
      title="I want to cooperate"
      contactText="Speak to Stephanie from project LEMON team"
    />
    <Contacts link="" imgSrc="../assets/openscript-logo.svg" title="I need tech support" contactText="Speak to Robin from openscript" />
  </div>
</footer>
