---
import Bubbles from "../components/Bubbles.astro";
import Accordion from "../components/Accordion.astro";
import { mapFeatures } from "../mapper/features-mapper";

const items = await mapFeatures("questionnaire");
---

<style>
  section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
  }

  .moreFunctions {
    text-align: start;
  }
</style>

<section>
  <h2>Data Collection Features</h2>
  <Accordion frame="tablet" items={items} />
  <div class="moreFunctions">
    <p>More functions</p>
    <Bubbles entries={["Optional comments", "Customizable carer information", "Historical entires are saved"]} />
  </div>
</section>
