---
import Site from "../layouts/Site.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import Spotlight from "../sections/Spotlight.astro";
import Questionnaire from "../sections/Questionnaire.astro";
import Administration from "../sections/Administration.astro";
import About from "../sections/About.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/assets/quassel-icon.svg" />
  <title>Quassel</title>
</head>
<Site>
  <Header />
  <main>
    <Spotlight />
    <Questionnaire />
    <Administration />
    <About />
  </main>
  <Footer />
</Site>
