---
import "../styles/global.css";
import Header from "../layout/Header.astro";
import Footer from "../layout/Footer.astro";
import Spotlight from "../layout/Spotlight.astro";
import Questionnaire from "../layout/Questionnaire.astro";
import Administration from "../layout/Administration.astro";
import About from "../layout/About.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
import "@fontsource-variable/montserrat";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <Header />
    <main>
      <Spotlight />
      <Questionnaire />
      <Administration />
      <About />
    </main>
    <Footer />
  </body>
</html>
