---

---

<section>
  <h2>About</h2>
  <p>
    Quassel began as a vision to simplify how researchers document children’s language exposure. Collaborating closely with the University of
    Zürich, openscript Ltd. brought this vision to life.
  </p>
  <p>
    Quassel is the tool behind the University of Zürich’s project, LEMON, which studies multilingual development using real-world data. Designed
    to fit UZH’s needs, Quassel is also flexible enough for other research projects.
  </p>
</section>
