---
import Bubbles from "../components/Bubbles.astro";
import type { ComponentProps } from "astro/types";
import IconCalendar from "~icons/tabler/calendar-week";
import Accordion from "../components/Accordion.astro";

type AccordionItemsProp = ComponentProps<typeof Accordion>["items"];

const items: AccordionItemsProp = [
  {
    icon: IconCalendar,
    title: "Entry for studies",
    description: "The description for Entry for studies.",
    screenshot: "calendar.png",
  },
  {
    icon: IconCalendar,
    title: "Default data management",
    description: "Store the data about carers’ background information.",
    screenshot: "period.png",
  },
  {
    icon: IconCalendar,
    title: "Export raw data to CSV",
    description: "The description for Export raw data to CSV.",
    screenshot: "calendar.png",
  },
  {
    icon: IconCalendar,
    title: "Consolidate data into reports",
    description: "The description for Consolidate data into reports.",
    screenshot: "calendar.png",
  },
];
---

<style>
  section {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
  }

  .moreFunctions {
    text-align: start;
  }
</style>

<section>
  <div class="administration">
    <h2>Solution for Administrative Needs</h2>
    <Accordion frame="laptop" imageLeft items={items} />
    <div class="moreFunctions">
      <p>More functions</p>
      <Bubbles entries={["User management", "Data import", "Historical entires are saved"]} />
    </div>
  </div>
</section>
