---
import Card from "../components/Card.astro";
import Bubbles from "../components/Bubbles.astro";
---

<section>
  <h2>Solution for Administrative Needs</h2>

  <Card iconSrc="/assets/icon5.svg" imgSrc="" title="Entry for studies" description="The description for Entry for studies." />
  <Card
    iconSrc="/assets/icon6.svg"
    imgSrc="https://fakeimg.pl/368x470/b4eefa/909090?font=noto-serif&font_size=24"
    title="Default data management"
    description="Store the data about carers’ background information."
    imgRight={false}
  />
  <Card iconSrc="/assets/icon7.svg" imgSrc="" title="Export raw data to CSV" description="The description for Export raw data to CSV." />
  <Card
    iconSrc="/assets/icon8.svg"
    imgSrc=""
    title="Consolidate data into reports"
    description="The description for Consolidate data into reports."
  />

  <div>
    <div class="functions">More functions</div>
    <Bubbles entries={["User management", "Data import", "Historical entires are saved"]} />
  </div>
</section>
