---
import Feature from '../components/Feature.astro';
import Card from '../components/Card.astro';
---

<section>
  <h2>Solution for Administrative Needs</h2>

  <Feature imgSrc={"https://fakeimg.pl/368x470/b4eefa/909090?font=noto-serif&font_size=24"} />
  <Card imgSrc="/assets/icon5.svg" title="Entry for studies" description="The description for Entry for studies." />
  <Card imgSrc="/assets/icon6.svg" title="Default data management" description="Store the data about carers’ background information." />
  <Card imgSrc="/assets/icon7.svg" title="Export raw data to CSV" description="The description for Export raw data to CSV." />
  <Card imgSrc="/assets/icon8.svg" title="Consolidate data into reports" description="The description for Consolidate data into reports." />
</section>
