---
import Cards from "../components/Cards.astro";
import Bubbles from "../components/Bubbles.astro";

const cards = {
  entries: [
    {
      imgSrc: "",
      title: "Entry for studies",
      description: "The description for Entry for studies.",
    },
    {
      imgSrc: "https://fakeimg.pl/368x470/b4eefa/909090?font=noto-serif&font_size=24",
      title: "Default data management",
      description: "Store the data about carers’ background information.",
    },
    {
      imgSrc: "",
      title: "Export raw data to CSV",
      description: "The description for Export raw data to CSV.",
    },
    {
      imgSrc: "",
      title: "Consolidate data into reports",
      description: "The description for Consolidate data into reports.",
    },
  ],
};
---

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .moreFunctions {
    text-align: start;
  }
</style>

<section>
  <div class="administration">
    <h2>Solution for Administrative Needs</h2>
    <Cards imgRight={false} cards={cards.entries} />
    <div class="moreFunctions">
      <p>More functions</p>
      <Bubbles entries={["User management", "Data import", "Historical entires are saved"]} />
    </div>
  </div>
  
</section>
