---
import IconChevronRight from "~icons/tabler/chevron-right";
---

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
  }

  .brand {
    display: flex;
    gap: var(--spacing-md);
    color: var(--color-highlight);
    align-items: baseline;
  }

  h1 {
    margin: 0;
  }

  li a {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    line-height: 2rem;
  }
</style>

<header>
  <div class="brand">
    <h1>Quassel</h1>
    <img src="../assets/quassel-icon.svg" alt="Quassel logo" />
  </div>
  <nav>
    <ul>
      <li><a href="https://test.quassel.ch">Click to see the demo <IconChevronRight /></a></li>
    </ul>
  </nav>
</header>
