---

---

<style>
  header {
    padding: var(--spacing-gutter) 0;
    align-items: flex-end;
    display: flex;
    color: var(--color-highlight-header);
  }

  h1 {
    margin: 0 var(--spacing-sm) calc(-1 * var(--spacing-sm)) 0;
  }

  nav {
    margin-left: auto;
    text-decoration: none;
    font-weight: var(--font-weight-medium);
  }

  a,
  a:visited {
    text-decoration: none;
    color: var(--color-highlight-header);
  }
</style>

<header>
  <h1>Quassel</h1>
  <img src="../assets/quassel-icon.svg" alt="Quassel logo" />
  <nav class="demo">
    <a href="https://test.quassel.ch/session?redirect=%2F"> Click to see the demo &#9002; </a>
  </nav>
</header>
