---

---

<style>
  header {
    padding: var(--spacing-gutter) 0;
    display: flex;
    justify-content: space-between;
    color: var(--color-highlight-header);
    gap: 30rem;
  }

  .quassel {
    display: flex;
    align-items: flex-end;
  }

  h1 {
    margin: 0 var(--spacing-sm) calc(-1 * var(--spacing-sm)) 0;
  }

  nav {
    text-decoration: none;
    font-weight: var(--font-weight-medium);
    display: flex;
    align-items: flex-end;
  }

  a,
  a:visited {
    text-decoration: none;
    color: var(--color-highlight-header);
  }
</style>

<header>
  <div class="quassel">
    <h1>Quassel</h1>
    <img src="../assets/quassel-icon.svg" alt="Quassel logo" />
  </div>
  <nav class="demo">
    <a href="https://test.quassel.ch/session?redirect=%2F"> Click to see the demo &#9002; </a>
  </nav>
</header>
