---

---

<style>
  header {
    padding: var(--spacing-gutter) 0;
    align-items: flex-end;
    display: flex;
    color: var(--color-highlight-header);
  }

  h1 {
    margin: 0 var(--spacing-sm) calc(-1 * var(--spacing-sm)) 0;
  }

  .demo {
    margin-left: auto;
    text-decoration: none;
    font-weight: 500;
  }

  a,
  a:visited {
    text-decoration: none;
    color: var(--color-highlight-header);
  }

  .arrow {
    margin-bottom: calc(-0.25 * var(--spacing-sm));
  }
</style>

<header>
  <h1>Quassel</h1>
  <img src="/public/assets/quassel-icon.svg" alt="Quassel logo" />
  <div class="demo">
    <a href="">
      Click to see the demo
      <img class="arrow" src="/public/assets/arrow.svg" alt="arrow" />
    </a>
  </div>
</header>
