---

---

<style>
  header {
    padding: var(--spacing-gutter) 0;
    display: flex;
  }
</style>

<header>
  <h2>Quassel</h2>
  <img src="" alt="Quassel logo" />
  <a href="">Click to see the demo</a>
</header>
