---
import type { JSX } from "astro/jsx-runtime";
import type { ComponentProps } from "astro/types";
import Bubbles from "../components/Bubbles.astro";
import Accordion from "../components/Accordion.astro";
import IconCalendar from "~icons/tabler/calendar-week";
import AccordionItem from "../components/AccordionItem.astro";

type AccordionItemProps = ComponentProps<typeof AccordionItem> & { icon: (props: JSX.SVGAttributes) => JSX.Element };

const items: AccordionItemProps[] = [
  {
    icon: IconCalendar,
    title: "Calendar interface",
    description: "The description for Calendar interface",
    screenshot: "blub",
  },
  {
    icon: IconCalendar,
    title: "Easy to select time period",
    description: "Accessibility from mobile device and primarily touch-based input via tablets.",
    screenshot: "blub",
  },
  {
    icon: IconCalendar,
    title: "Auto detect gaps",
    description: "The description for Auto detect gaps.",
    screenshot: "blub",
  },
  {
    icon: IconCalendar,
    title: "Recurring entries",
    description: "The description for Recurring entries.",
    screenshot: "blub",
  },
];
---

<style>
  section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
  }

  .moreFunctions {
    text-align: start;
  }
</style>

<section>
  <h2>Data Collection Features</h2>
  <Accordion screenshotFrame="bla">
    {
      items.map((item) => {
        const Icon = item.icon;
        return (
          <AccordionItem {...item}>
            <Icon slot="icon" />
          </AccordionItem>
        );
      })
    }
  </Accordion>
  <div class="moreFunctions">
    <p>More functions</p>
    <Bubbles entries={["Optional comments", "Customizable carer information", "Historical entires are saved"]} />
  </div>
</section>
