---
import Card from "../components/Card.astro";
import Bubbles from "../components/Bubbles.astro";
---

<section>
  <h2>Data Collection Features</h2>
  <Card
    iconSrc="/assets/icon1.svg"
    imgSrc=""
    title="Calendar Interface"
    description="The description for the calendar interface."
    imgRight={true}
  />
  <Card
    iconSrc="/assets/icon2.svg"
    imgSrc="https://fakeimg.pl/368x470/b4eefa/909090?font=noto-serif&font_size=24"
    title="Easy to select time period"
    description="Accessibility from mobile device and primarily touch-based input via tablets."
    imgRight={true}
  />
  <Card
    iconSrc="/assets/icon3.svg"
    imgSrc=""
    title="Auto detect gaps"
    description="The description for the Auto detect gaps."
    imgRight={true}
  />
  <Card
    iconSrc="/assets/icon4.svg"
    imgSrc=""
    title="Recurring entries"
    description="The description for the Recurring entries."
    imgRight={true}
  />

  <div>
    <div class="functions">More functions</div>
    <Bubbles entries={["Optional comments", "Customizable carer information", "Historical entires are saved"]} />
  </div>
</section>
