---

---

<section>
  <h1>Gather language exposure data</h1>
  <p>Efficient documenting children's language exposure by carer giver and time.</p>
  <video>
    <source src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
  </video>
  <h2>Used by</h2>
  <img src="/assets/uzh-logo.svg" alt="University of Zurich">
</section>
