---

---

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section::before {
    margin-top: var(--spacing-xl);
    content: "";
    position: absolute;
    background: #c6e7ff;
    filter: blur(125px);
    width: 60rem;
    height: 36rem;
    z-index: -1;
  }

  h1 {
    font-size: var(--font-size-xxxl);
  }

  p {
    font-size: var(--font-size-lg);
  }

  .intro {
    width: 36rem;
    text-align: center;
    margin-bottom: var(--spacing-lg);
  }

  .quasselVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .playButton {
    background: none;
    position: absolute;
    border: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .playButton :hover {
    transform: scale(1.1);
  }

  .usedBy {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-xl);
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns: one for h2, one for img */
    gap: var(--spacing-sm);
  }

  .usedBy h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    align-self: center;
  }

  .usedBy img {
    height: calc(2 * var(--spacing-lg));
  }

  .video {
    width: 58rem;
  }
</style>

<section>
  <div class="intro">
    <h1>Gather language exposure data</h1>
    <p>Efficient documenting children's language exposure by carer giver and time.</p>
  </div>
  <div class="quasselVideo">
    <video class="video" muted playsinline>
      <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4" />
    </video>
    <button class="playButton">
      <img src="../assets/play-button.svg" alt="Play button" />
    </button>
  </div>
  <div class="usedBy">
    <h2>Used by</h2>
    <img src="../assets/uzh-logo.svg" alt="University of Zurich" />
  </div>
</section>

<script>
  import "../scripts/video.ts";
</script>
