---
type Props = {
  imageLeft?: boolean;
  screenshotFrame: string;
};

const { imageLeft, screenshotFrame } = Astro.props;
---

<style>
  .accordion {
    display: flex;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
  }

  .display {
    flex-grow: 1;
  }
</style>

<script>
</script>

<div class="accordion">
  <ul>
    <slot />
  </ul>
  <div class="display">Display</div>
</div>
