---
import LaptopFrame from "../assets/frames/laptop-frame.svg";
import TabletFrame from "../assets/frames/tablet-frame.svg";
import { createId } from "../utils/id";

const frames = {
  laptop: {
    frame: LaptopFrame,
    x: 0,
    y: 0,
  },
  tablet: {
    frame: TabletFrame,
    x: 0,
    y: 0,
  },
};

type Props = {
  imageLeft?: boolean;
  frame: keyof typeof frames;
};

const { imageLeft, frame } = Astro.props;
const { frame: Frame, x, y } = frames[frame];
const id = createId("accordion");
---

<style>
  .accordion {
    display: flex;
  }

  .accordion.imageLeft {
    flex-direction: row-reverse;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
  }

  .display {
    flex-grow: 1;
  }
</style>

<div id={id} class:list={["accordion", { imageLeft }]}>
  <ul>
    <slot />
  </ul>
  <div class="display"><Frame /></div>
</div>

<script define:vars={{ id }}>
  const items = document.querySelectorAll(`#${id} li`);

  function toggleAccordion(event) {
    const item = event.currentTarget;
    const isActive = item.classList.contains("active");

    if (!isActive) {
      items.forEach((el) => {
        el.classList.remove("active");
      });
      item.classList.add("active");
    }
  }

  items.forEach((item) => {
    item.addEventListener("click", toggleAccordion);
  });

  items[0].classList.add("active");
</script>
