---
import LaptopFrame from "../assets/laptop-frame.svg";
import TabletFrame from "../assets/tablet-frame.svg";
import { createId } from "../utils/id";

const frames = {
  laptop: {
    frame: LaptopFrame,
    x: 0,
    y: 0,
  },
  tablet: {
    frame: TabletFrame,
    x: 0,
    y: 0,
  },
};

type Props = {
  imageLeft?: boolean;
  frame: keyof typeof frames;
};

const { imageLeft, frame } = Astro.props;
const { frame: Frame, x, y } = frames[frame];
const id = createId("accordion");
---

<style>
  .accordion {
    display: flex;
  }

  .accordion.imageLeft {
    flex-direction: row-reverse;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
  }

  .display {
    flex-grow: 1;
  }
</style>

<div id={id} class:list={["accordion", { imageLeft }]}>
  <ul>
    <slot />
  </ul>
  <div class="display"><Frame /></div>
</div>

<script define:vars={{ id }}>
  const items = document.querySelectorAll(`#${id} li`);
  items.forEach((item) => {
    item.style.backgroundColor = "blue";
  });
</script>
