---
type Props ={
  bubble_content: string;
}

const { bubble_content } = Astro.props;
---
<style>
  .bubble {
    background-color: var(--color-primary);
    font-size: var(--font-size-sm);
    color: var(--color-white);
    padding: var(--spacing-sm);
    border-radius: var(--radius-sm);
    width: auto;
    height: 1rem;
  }
</style>

<div class="bubble">
  {bubble_content}
</div>