---
type Props = {
  imgSrc: string;
  iconSrc: string;
  title: string;
  description: string;
  imgRight?: boolean;
};

const { imgSrc, iconSrc, title, description, imgRight } = Astro.props;
---

<style>
  .card {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  .content {
    flex-direction: column;
    margin: var(--spacing-lg);
  }
  .content-title {
    display: flex;
    gap: 1rem;
  }

  .right {
    flex-direction: row;
  }
</style>

<div class:list={["card", { right: imgRight }]}>
  <div class="content">
    <div class="content-title">
      <img src={iconSrc} />
      <h3>{title}</h3>
    </div>
    <p class="hidden">{description}</p>
  </div>
  <img src={imgSrc} />
</div>
