---
type Props = {
  imgSrc: string;
  title: string;
  contactText: string;
  link: string;
};

const { imgSrc, title, contactText, link } = Astro.props;
---

<style>
  .contact_card {
    display: flex;
    flex-direction: column;
    padding-inline: var(--spacing-lg);
    padding-top: var(--spacing-md);
    align-items: start;
    background-color: var(--color-card);
    width: 20rem;
    height: 18rem;
    gap: var(--spacing-md);
  }

  h2 {
    margin-bottom: var(--spacing-md);
  }

  img {
    height: 4rem;
    margin-top: var(--spacing-md);
    object-fit: contain;
  }
</style>

<div class="contact_card">
  <img src={imgSrc} alt="company icon" />
  <h2>{title}</h2>
  <a href={link}>{contactText}</a>
</div>
