---
const { title } = Astro.props;
const ogImageUrl = "/opengraph.png";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="any" />
  <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16" />
  <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32" />
  <link rel="icon" href="/favicon-48x48.png" type="image/png" sizes="48x48" />
  <link rel="icon" href="/favicon-64x64.png" type="image/png" sizes="64x64" />
  <link rel="icon" href="/favicon-96x96.png" type="image/png" sizes="96x96" />
  <link rel="icon" href="/android-chrome-192x192.png" type="image/png" sizes="192x192" />
  <title>{title}</title>
  <meta
    name="description"
    content="Quassel is a web-based application designed to aid researchers in collecting and analyzing data on children's language exposure."
  />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.quassel.ch/" />
  <meta property="og:title" content={title} />
  <meta
    property="og:description"
    content="Quassel (previously Language Exposure Questionnaire) is a web-based application designed to aid researchers in collecting and analyzing data on children's language exposure. "
  />
  <meta property="og:image" content={ogImageUrl} />
  <meta property="og:image:alt" content="Quassel Application Display" />
  <meta
    name="keywords"
    content="Quassel, children, calendar-like interface, language, langauge exposure, web application, periods of life, data entry personnel, UZH, openscript, open source"
  />
</head>
