---
import "../styles/global.css";
---

<header>
  <div class="header-left">
    <h1 class="main-title">Quassel</h1>
    <img class="logo" src="/assets/Quassel-Icon.svg" alt="Logo" />
  </div>
  <a class="demo-link" href="https://test.quassel.ch/">Click to see the demo</a>
</header>