---
const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/quassel-icon.svg" />
  <title>{title}</title>
  <meta
    name="description"
    content="Quassel is a web-based application designed to aid researchers in collecting and analyzing data on children's language exposure. "
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.quassel.ch/" />
  <meta
    property="og:description"
    content="Quassel (previously Language Exposure Questionnaire) is a web-based application designed to aid researchers in collecting and analyzing data on children's language exposure. "
  />
</head>
