---
const { class: className, ...rest } = Astro.props;
---

<style>
  .lightbox.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .lightbox :global(img) {
    cursor: zoom-in;
    background-color: transparent;
  }

  .lightbox.active :global(img) {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: zoom-out;
    height: 97% !important;
    width: 97% !important;
    object-fit: contain !important;
  }

  :global(.lightbox-active) {
    overflow: hidden;
  }
</style>

<div class:list={["lightbox", className]} {...rest}>
  <slot />
</div>

<script>
  function toggleLightbox(lightbox: Element | null) {
    lightbox?.classList.toggle("active");
    document.body.classList.toggle("lightbox-active");
  }

  function toggleClosestLightbox(event: Event) {
    const item = event.currentTarget as HTMLElement;
    toggleLightbox(item.closest(".lightbox"));
  }

  const lightboxes = document.querySelectorAll(".lightbox");
  lightboxes.forEach((lightbox) => {
    lightbox.addEventListener("click", (event) => {
      if (event.target === lightbox && lightbox.classList.contains("active")) {
        toggleLightbox(lightbox);
      }
    });
    lightbox.querySelectorAll("img").forEach((img) => {
      img.addEventListener("click", toggleClosestLightbox);
    });
  });

  document.addEventListener("keydown", (event) => {
    if (event.key === "Escape") {
      lightboxes.forEach((lightbox) => {
        if (lightbox.classList.contains("active")) {
          toggleLightbox(lightbox);
        }
      });
    }
  });
</script>
